<div class = "row">
    <div class = "container">
        
        <div class = "logo">
            <img src = "../../../assets/imagenes/APlogo.png" id = "logoAP">            
        </div>

        <div class = "redes">
            <a href="https://github.com/Ampi-Z"><img src = "../../../assets/imagenes/git.png" id = "git"></a>
            <a href="https://www.facebook.com/amparo.zanardi/"><img src = "../../../assets/imagenes/Facebook.png" id = "facebook"></a>
            <a href="https://www.linkedin.com/in/amparo-zanardi-708320275/"><img src = "../../../assets/imagenes/linkedin.png" id = "linkedin"></a>
            <a href="https://twitter.com/Ampi_Z"><img src = "../../../assets/imagenes/twitter.png" id = "twitter"></a>
            <a href="https://www.instagram.com/ampi_z/"><img src = "../../../assets/imagenes/Instagram.png" id = "instagram"></a>        
            
        </div>

        <div class = "ingreso">
            <button type="button" class = "btn btn-outline-light">Ingresar</button>
        </div>
        
    </div>
</div>
