<div>
    <a href="https://www.facebook.com/amparo.zanardi/"><img src = "../../../assets/Facebook.png" id = "facebook"></a>
    <a href="https://github.com/Ampi-Z"><img src = "../../../assets/git.png" id = "git"></a>
    <a href="https://www.instagram.com/ampi_z/"><img src = "../../../assets/Instagram.png" id = "instagram"></a>
    <a href="https://www.linkedin.com/in/amparo-zanardi-708320275/"><img src = "../../../assets/linkedin.png" id = "linkedin"></a>
    <a href="https://twitter.com/Ampi_Z"><img src = "../../../assets/twitter.png" id = "twitter"></a>
</div>
