
<div class = "row"> 
    
    <h1>Educacion</h1>
    <div class = "col-lg-1"></div>
    <div class = "col-lg-11">
        <ul>
            <li>
                <h2>Educación Secundaria Completa</h2>
                <h3> ( 2019 )</h3>
                <p>Bachiller en economia</p> 
                <p>Instituto Integral Católico, Chivilcoy, Buenos Aires.</p>
            </li>
            <li>
                <h2>Educacion de grado</h2>
                <h3> ( en curso )</h3>
                <p>Ingenieria en informatica</p>
                <p>Universidad de Buenos Aires</p>
            </li>
        </ul>
    </div>
</div>