
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingreso{
    margin-right: 2%}

#logoAP{
    width: 300px;
}

img{
    width: 75px;
}

@media (max-width:575px){
    .container {
        display: flex;
        flex-direction: column;
    }

    .redes, .ingreso {
        align-items: center;
    }

    .redes{
        margin: 15px;
    }   

}
