<div class = "row">

    <h1>Proyectos</h1>
    <div class = "contenedor">
        <div class = "col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Algo</h1>
            <p>Duis excepteur culpa anim nulla eu. Ex amet quis nostrud qui sit voluptate cupidatat laboris minim sunt excepteur duis deserunt. Fugiat nulla reprehenderit nulla laborum aute sit ut. Incididunt consectetur Lorem excepteur quis nulla sunt irure reprehenderit ad laborum pariatur eiusmod dolore. Ut qui aliqua sit et ad ipsum ea tempor. Voluptate nostrud ad irure ea qui id exercitation labore consequat. Fugiat ullamco consectetur irure Lorem veniam dolore dolore nulla eiusmod mollit.</p>
        </div>
        <div class = "col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src = ""class = "img-fluid img-proyecto">
        </div>
    </div>
</div>
