/*@font-face {
    font-family: 'Satisfy';
    src: url('../../../assets/fuentes/Satisfy/Satisfy-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rochester';
    src: url('../../../assets/fuentes/Rochester/Rochester-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../assets/fuentes/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.row{
    padding: 40px;

}

div {
    background-color: #ecd1ea;
}

h1{
    color:#a5039a;
}

h2 {
    font-family: Rochester;
    color:#e42e89;
}

h3{
    color: #ffffff;
}

p {
    font-family: Montserrat;
    color: #7192c4;
}


h1 , h3{
    font-family: Satisfy;
}

h2 , h3 {
    display: inline;
}
*/
#xp{
    
    margin-bottom: 70px;
}

#xp > div{
    margin-left: 20px !important;
}

.table {
    --bs-table-color: #fff !important;
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
