@font-face {
    font-family: 'Satisfy';
    src: url('../../../assets/fuentes/Satisfy/Satisfy-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rochester';
    src: url('../../../assets/fuentes/Rochester/Rochester-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../assets/fuentes/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.row{
    padding: 40px;
    background-color: #f0b5ec;
    margin: 20px !important;
    text-align: center;
}

div {
    background-color: #f0b5ec;
}

#skills{
    position: static;
    margin-bottom: 70px;
}

h3{
    text-align: left;
}

#boton{
    text-align: left;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}