<div class = "row">
    <div class ="col-xs-12 col-sm-2 col-md-2 col-lg-2">

            <img src = "../../../assets/imagenes/foto.jpg" class = "img-fluid" id ="foto"> 

    </div>
    
    <div class ="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id = "nombre">Amparo Maria Zanardi</p>
        <p id = "lover">( Lover )</p>
        <p>Full Stack Developer Junior</p>
    </div>

    <div class ="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi... (Speak Now)</h1>
        <p id="descripcion" >
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga cum repellendus iure sed, eveniet vel, quis asperiores odit sit hic, laudantium inventore quaerat dolorem corporis! Minus provident itaque sit cumque! (FEARLESS)
        </p>
    </div>

</div>
