.gradient-custom-2 {
    /* fallback for old browsers */
    background: #f0bded;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #d1e6f1 , #f59abd , #f0bded ,#fdeab5 );
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to right, #d1e6f1 , #f59abd , #f0bded ,#fdeab5 );
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }