<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Bienvenid@</h4>
                  </div>
  
                  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <p>Porfavor ingrese en su cuenta</p>
  
                    <div class="form-outline mb-4">
                      <input id="nombreUsuario" name="nombreUsuario" type="text" placeholder="Ingrese usuario" [(ngModel)]="nombreUsuario" required>
                      <label class="form-label" for="form2Example11">Usuario</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input id="password" name="password" type="password" placeholder="Contraseña" [(ngModel)]="password" required>
                      <label class="form-label" for="form2Example22">contraseña</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button type="button submit" class="btn btn-primary" data-bs-dismiss="modal">Ingresar</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
