
<div class = "row"> 
    
    <h1>Experiencia Laboral</h1>
    <div class = "col-lg-1"></div>
    <div class = "col-lg-11">
        <ul>
            <li>
                <h2>Cajera</h2>
                <h3> ( 2016 - 2017 )</h3>
                <p>Atención al público</p>
            </li>
            <li>
                <h2>Administración</h2>
                <h3> ( 2017 - 2018 )</h3>
                <p>Registro de datos, stock, costos, publicidad en redes sociales</p>
            </li>
            <li>
                <h2>Administración</h2>
                <h3> ( 2018 - 2023 )</h3>
                <p>Control de recaudación y realización de depósitos</p>
            </li>
        </ul>
    </div>
</div>