div {
    background-image: linear-gradient(to right, #d1e6f1 , #f59abd , #f0bded ,#fdeab5 );
}

app-barra-navegacion {
    margin-top: 25px;
}

app-redes-sociales {
    float: right ;
    margin-top: 25px;
}
