<nav class="navbar">
    <div class = "row">
        <div class = "container">            
            <div class = "logo">
                <img class="navbar-brand" src = "../../../assets/imagenes/APlogo.png" id = "logoAP">            
            </div>

            <div class = "redes" class="d-flex text-right">
        
                    <a href="https://www.instagram.com/ampi_z/" target="_blank"><img src = "./../../../assets/imagenes/Instagram.png"></a>
                    <a href="https://www.facebook.com/amparo.zanardi/" target="_blank"><img src = "./../../../assets/imagenes/Facebook.png"></a>
                    <a href="https://www.linkedin.com/in/amparo-zanardi-708320275/" target="_blank"><img src = "./../../../assets/imagenes/linkedin.png"></a>
                    <a href="https://github.com/Ampi-Z" target="_blank"><img src = "./../../../assets/imagenes/git.png"></a>
     
            </div>

            
            <div class = "ingreso">
                <i title="Iniciar Sesión" id="i-login" *ngIf="!isLogged" class="fa-solid fa-right-to-bracket" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
                <i title="Cerrar Sesión" id="i-logOut" (click)="onLogout()" *ngIf="isLogged" class="fa-solid fa fa-sign-out"></i>  
            </div>
        
        </div>
    </div>
</nav>